working_dir: data/dev_452/
tools:
- coloc
- smr
- predixcan
- fusion
- fastenloc
- ecaviar
input:
  gwas:
    file: data/locuscompare2.example.tsv
    trait: example
    sample_size: 52222
    type: quant
    genomic_window: fixed_GWAS_Loci_window
    window_size: 500000
    LD_r2_filter: 0.1
    LD_additional_expansion: 50000
    target_loci: ALL
    col_name_mapping:
      snp: rsid
      chrom: chr
      position: pos
      beta: beta
      effect_allele: alt
      other_allele: ref
      pvalue: pval
      se: se
      variant_id: variant_id
  qtl:
    qtl_type: eqtl
    file: data/Pancreas.tsv.gz
    biological_context: Pancreas
    sample_size: 305
    type: quant
    genomic_window: ''
    window_size: ''
    LD_r2_filter: ''
    LD_additional_expansion: ''
    target_loci: ALL
    col_name_mapping:
      snp: rs_id_dbSNP151_GRCh38p7
      chrom: chr
      position: pos
      beta: slope
      alt: alt
      ref: ref
      pvalue: pval_nominal
      se: slope_se
      phenotype_id: phenotype_id
      maf: maf
      variant_id: variant_id
  vcf: data/phased_hg38/
  genecode: data/gencode.v26.basic.annotation.gtf.gz
  ld_block_loci_file: data/eur_hg38_ld_block.bed
  prediction_dir: data/gtex_v8_mashr
  twas_model_dir: data/twas_model
min_matching_number: 5
p-value_threshold:
  gwas: 5.0e-08
  qtl: 1.0e-05
neighbour_snp_range: 25
population: EUR
