working_dir: /home/users/nus/e1124850/scratch/lc3_sqtltest
tools:
- ecaviar
- fastenloc
- smr
- coloc
input:
  gwas:
    file: /home/users/nus/e1124850/e1124850/locuscompare2pluefile/testgwas/preprocessed_diagram.mega-meta.txt.gz
    trait: diag
    sample_size: 149821
    type: quant
    genomic_window: LD_based_window
    window_size: 500000
    LD_r2_filter: 0.1
    target_loci: 'ALL'
    col_name_mapping:
      snp: rsid
      chrom: chr
      position: pos
      beta: beta
      effect_allele: alt
      other_allele: ref
      pvalue: pval
      se: se
      variant_id: variant_id
  qtl:
    qtl_type: 'sqtl'
    file: /home/users/nus/e1124850/scratch/qsub_dir/Whole_Blood.v10.1.sqtl.tsv.gz
    biological_context: Whole_Blood
    sample_size: 803
    type: quant
    col_name_mapping:
      snp: rs_id_dbSNP155_GRCh38p13
      chrom: chr
      position: pos
      beta: slope
      alt: alt
      ref: ref
      pvalue: pval_nominal
      se: slope_se
      phenotype_id: phenotype_id
      gene_id: gene_id
      maf: maf
      variant_id: variant_id
  vcf: /home/users/nus/e1124850/e1124850/locuscompare2file/vcf_hg38
  genecode: /home/users/nus/e1124850/e1124850/locuscompare2pluefile/reference/gencode.v39.GRCh38.genes.gtf
  ld_block_loci_file: /home/users/nus/e1124850/e1124850/locuscompare2file/eur_hg38_ld_block.bed
  prediction_dir: /data1_gwas_dev19/coloc/biodata/colocalization/raw/prediction_model_covariance/gtex_v8_mashr
  twas_model_dir: /data1_gwas_dev19/coloc/biodata/colocalization/raw/twas_model
p-value_threshold:
  gwas: 1.0e-05
  qtl: 1.0e-05
population: EUR
